
numpy<=1.16.1
scipy==1.0.0
numexpr
mock
sphinx
pylint>=2.3.1
sphinxjp.themes.dotted
sphinx_rtd_theme
guzzle_sphinx_theme
sphinxcontrib-fulltoc
bumpversion
matplotlib
pytest
opencv-python==3.4.2.16
pillow==8.3.2

